
{{ define "hero"}}	
	{{ range first 1 (where .Site.RegularPages.ByPublishDate.Reverse "Section" "episode") }}
		<!-- ===== LASTEST PODCAST (HERO) ===== -->
		<section class="podcast-hero" style="background-image: url({{ .Site.BaseURL }}{{ .Params.image }})">
			<div class="podcast-hero-inner">
			
				<!-- ===== PODCAST INFO ===== -->
				<div class="container">
						<div class="podcast-hero-content">
						<span class="podcast-hero-date">{{ .Params.subtitle }}</span>
						<h2 class="podcast-hero-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						<ul class="podcast-hero-meta">
							<li class="item"><i class="fa fa-clock-o"></i>&nbsp;{{ .Params.duration }}</li>
							<li class="item"><a href="{{ .Params.mp3 }}" class="podcast-hero-download"><i class="fa fa-download"></i>&nbsp;Télécharger</a></li>
						</ul>
					</div>
				</div>
				<!-- ===== PODCAST PLAYER ===== -->
				<div class="podcast-hero-player-content">
					<div class="container">
						<!-- ===== CUSTOM PLAYER ===== -->
						<audio src="{{ .Params.mp3 }}"></audio>
					</div>
				</div>
			</div>
		</section>
	{{ end }}
{{ end }}
		
{{ define "main" }}
	<!-- ===== PODCAST LIST ===== -->
	<section id="#episodes" class="section-positive">
		<div class="container">
			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default"><a name="episodes">Tous les épisodes</a></h2>
			<div class="row">
			{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "episode"}}	
				<!-- ===== PODCAST CARD FULL ===== -->
				<div class="col-sm-12 mb-40">
					<div class="podcast-card full">
						<figure class="podcast-image"><a href="{{ .Permalink }}"><img src="{{ .Params.image }}" alt="{{ .Title }}" title="Épisode #0" /></a></figure>
						<div class="podcast-content">
							<span class="podcast-date">{{ .Params.subtitle }}</span>
							<h2 class="podcast-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
							<p class="podcast-excerpt"><a href="{{ .Permalink }}">{{ .Summary | safeHTML }}</a></p>
							<ul class="podcast-meta">
								<li class="item"><i class="fa fa-clock-o"></i>&nbsp;{{ .Params.duration }}</li>
								<li class="item"><a href="{{ .Permalink }}" class="podcast-play"><i class="fa fa-play"></i>&nbsp;Écouter l'épisode</a></li>
							</ul>
						</div>
					</div>
				</div>
			{{ end }}	
			</div>
		</div>
	</section>
{{ end }}