{{ define "main" }}
    <!-- ===== PAGE HEADER ===== -->
    <header class="page-header-podcast" style="background-image: url({{ .Site.BaseURL }}{{ .Params.image }})">
        <div class="page-header-inner">
            <div class="container">

                <!-- ===== PAGE HEADER CONTENT ===== -->
                <div class="page-header-content text-center">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary }}</p>
                </div>
            </div>
        </div>
    </header>
    <!-- ===== SINGLE PAGE CONTENT ===== -->
    <div class="section-negative">
        <div class="container">
            <div class="row mt-70 mb-50">
                <!-- ===== PODCAST TEXT CONTENT ===== -->
                <div class="col-md-12 mb-50">
                    <!-- ===== PAGE MAIN CONTENT ===== -->
                    <div class="page-content">
                        {{ .Content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end}}