<header class="header absolute" itemscope itemtype="http://schema.org/Organization">
    <div class="container">
        <!-- ===== LOGO ===== -->
        <h1 class="logo"><a href="{{ .Site.BaseURL }}"><img src ="{{ .Site.Params.Logo}}" width="150"></a></h1>
        <!-- ===== NAVIGATION ===== -->
        <nav class="navigation">
            <!-- ===== MENU ===== -->
            <ul class="menu">
                <li class="menuitem"><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li class="menuitem"><a href="#episodes">Podcasts</a></li>
                <li class="menuitem"><a href="mailto:contact@podlumiere.com">Contact</a></li>
            </ul>
            <!-- ===== HAMBURGUER ICON ===== -->
            <a href="#" class="btn-hamburguer-menu"><i class="fa fa-bars"></i></a>
        </nav>
    </div>
</header>